@font-face{
    font-family: 'Roboto-Medium';
    src: url('../font/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
    text-align: center;
}@font-face{
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;

    font-family: 'Roboto-Regular';
}
.header{
    margin-top: -22px;
    display: flex;
    padding-bottom: 10px;
    padding-left: 30px;
    align-items: center;

    font-family: 'Roboto-Regular';
    font-style: normal;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #FFFFFFDE;
    background-color: #3A5E4E;
}
.hLogo{
    display: inline-block;
    width: 88px;
    height: 60px;

    background: url('../img/logo-ETEC-neg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -10px;
}
.hMenu{
    width: 85%;
    padding-top: 45px;
    padding-bottom: 4px;
    align-items: center;

    text-align: center;
}
.hMenuBox{
    display: inline-flex;
    padding-left: 9px;
    padding-right: 9px;
}
.hMenuText{
    width: 108px;
    text-align: center;
    cursor: pointer;
}
.hLogin{
    text-align: right;
    cursor: pointer;
}
.footer{ 
    margin-bottom: -20px;   
    display: flex;
    padding-bottom: 10px;
    padding-left: 30px;
    align-items: center;

    font-family: 'Roboto-Regular';
    font-style: normal;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #FFFFFFDE;
    background-color: #3A5E4E;
}
.fContato{
    width: 33%;
    display: inline-block;

    text-align: left;
}
.fDireitos{
    width: 33%;
    display: inline-block;

    text-align: center;
}
.fRedes{
    width: 33%;
    display: inline-block;

    text-align: right;
}
.e404{
    width: 100%;
    height: 100vh;
    background: url('../img/erro404.png') #333775;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-block-start: -0.67em;
    margin-block-end: -0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    text-align: center; 
    color: #e4e4eb;
    font-weight: normal;
    font-style: normal;
}
.eFontB{
    display: block;
    padding-top: 3%;
    margin-left: -40px;
}
.eFont{
    font-size: 64px;
}
.eFontN{
    margin-top: 25%;
    font-size: 20px;
}
.login{
    width: 100%;
    height: 95vh;
    display: inline-flex;
}
.lbanner{
    width: 70%;
    height: 95vh;
    background: url('../img/IMAGEM-LOGIN.png');
    background-size: 110%;
    background-color: #002829;
    background-repeat: no-repeat;
    background-position-x: -70px;

    text-align: center;
}
.lBoxVest{
    width: 25%;
    height: 25%;
    margin-left: 62%;
    margin-top: 38%;
    padding-top: 20px;
    align-items: center;
    
    background-color: #00AA31;
    border-radius: 4px;
    opacity: 1;
    text-align: center;
}
.limgVest{
    width: 70%;
    height: 45%;
    
    background: url('../img/Vestibulinho.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
}
.btnVest{
    width: 70%;
    height: 50px;
    margin-top: 10px;

    font-size: 16px;
    background-color: #00AA31;
    border-radius: 4px;
    border-color: #FFFFFF;
    letter-spacing: 1.25px;
    color: #FFFFFF;
    cursor: pointer;
}
.lform{
    width: 30%;

    font-family: 'Roboto-Regular';
    font-style: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.25px;
}
.lFormText{
    width: 160px;
    display: inline-flex;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 40px;
    padding-bottom: 20px;

    text-align: center;
}
.lfTextNao{    
    letter-spacing: 1.25px;
    color: #21222DBD;
    text-transform: uppercase;
    opacity: 1;
}
.lfTextSim{    
    letter-spacing: 1.25px;
    color: #2E8E61;
    text-transform: uppercase;
    opacity: 1;
}
.lfUnderTextS{
    width: 160px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    
    display: block;
    background-color: #2E8E61;  
    opacity: 1;  
}
.lfUnderTextN{
    width: 160px;
    height: 2px;
    margin-top: 10px;
    
    display: block;
    background-color: #FCFCFC;  
    opacity: 1;  
}
.lfNsa{
    display: block;
    padding-left: 30px;
    padding-right: 30px;

    text-align: center;
    align-items: center;
    font-size: 13px;
}
.logoNSA{
    width: 130px;
    height: 110px;
    margin-bottom: 30px;

    background: url('../img/NSA.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
}
.btnNSA{
    width: 50%;
    height: 50px;
    margin-top: 40px;

    font-size: 16px;
    background-color: #00AA31;
    border-radius: 4px;
    border-color: #00AA31;
    letter-spacing: 1.25px;
    color: #FFFFFF;
    cursor: pointer;
}
.logoCoop{
    width: 130px;
    height: 110px;
    margin-bottom: 30px;

    background: url('../img/logo-colegio.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
}
.esconde{
    display: none;
}
.inp{
    width: 100%;
    padding: 18px;
    margin-top: 20px;

    font-size: 13px;
    border: 1px solid var(--primária-2e8e61);
    border: 1px solid #2E8E61;
    border-radius: 4px;
    opacity: 1;
}
.inpS{
    width: 99%;
    padding: 18px;
    margin-top: 20px;

    font-size: 13px;
    border: 1px solid var(--primária-2e8e61);
    border: 1px solid #2E8E61;
    border-radius: 4px;
    opacity: 1;
}
.esquciSenha{    
    text-align: right;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0.4px;
    color: #000000DE;
    opacity: 1;
    cursor: pointer;
}
.privado{
    height: 100vh;
    display: flex;
    margin-top: -21px;
    margin-bottom: -21px;
    background-color: #FCFCFC;
}
.menup{
    height: 100%;
    display: block;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    color: #FFFFFF;
    background: #3A5E4E 0% 0% no-repeat padding-box;
    opacity: 1;
}
.itMenuH{
    width: 24px;
    height: 24px;
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;

    background: url('../img/Icons/home_black_24dp.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
.itMenuR{
    width: 24px;
    height: 24px;
    display: block;

    background: url('../img/Icons/receipt_long_black_24dp.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
.itMenuP{
    width: 24px;
    height: 24px;
    display: block;

    background: url('../img/Icons/pig_white_24dp.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
.itMenuMV{
    width: 24px;
    height: 24px;
    display: block;

    background: url('../img/Icons/view_quilt_black_24dp.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
.itMenuDN{
    width: 24px;
    height: 24px;
    display: block;

    background: url('../img/Icons/post_star_black_24dp.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
.itMenuGN{
    width: 24px;
    height: 24px;
    display: block;

    background: url('../img/Icons/post_add_black_24dp.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
.itMenuMA{
    width: 24px;
    height: 24px;
    display: block;

    background: url('../img/Icons/manage_accounts_black_24dp.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
.itMenuS{
    width: 24px;
    height: 24px;
    display: block;

    background: url('../img/Icons/settings_black_24dp.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
.perfilM{
    width: 49px;
    height: 49px;
    position: absolute;
    margin-left: -50px;

    background: url('../img/Icons/perfil.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
.conteudo{
    width: 100%;
    display: block;
    padding: 24px;

    text-align: center;
}
.hConteudo{
    display: flex;
    height: 60px;
}
.hContEsq{
    width: 50%;

    text-align: left;
}
.hContDir{
    width: 50%;

    text-align: right;
}
.infoPerfil{
    width: 250px;
    height: auto;
    position: absolute;
    padding: 20px;

    text-align: center;
    background: var(--background-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}
.fechaM{
    text-align: right;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.logout{
    font-weight: bold;
    color: #3A3E87;
    background: none;
    border: none;
    cursor: pointer;
}
.noticias{
    display:flex;
    width: 100%;
    padding-top: 10px;

    font-size: 16px;
}
.esquerda{
    width: 50%;
    display:"inline-flex";
    align-items: center;

    text-align: left;
    font-size: 16px;
}
.direita{
    width: 50%;
    display:"inline-flex";
    align-items: center;

    text-align: right;
    font-size: 16px;
}
.esquerdaN{
    width: 40%;
    display:"inline-flex";
    align-items: center;

    text-align: left;
    font-size: 16px;
}
.direitaN{
    width: 60%;
    display:"inline-flex";
    align-items: center;

    text-align: right;
    font-size: 16px;
}
.bxLista{
    width: 100%;
    height: 20rem;
    overflow: auto;
    overflow-y: scroll;
}
.bxLista::-webkit-scrollbar{
    width: 10px;
}
.bxLista::-webkit-scrollbar-track{
    box-shadow: transparent;
}
.bxLista::-webkit-scrollbar-thumb{
    background: transparent;
}
.btnNovo{
    width: 165px;
    height: 50px;

    font-size: 16px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border-color: #00AA31;
    letter-spacing: 1.25px;
    color: #00AA31;
    cursor: pointer;
}
.label{
    font-size: 12px;
    text-align: justify;
}
.labelPre{
    width: 90%;
    height: 70px;
    display: inline-block;
    overflow: hidden;

    text-overflow: ellipsis;
    font-size: 12px;
    text-align: justify;
}
.inpImg{
    width: 90%;
    padding: 8px;
    margin-top: 20px;

    font-size: 13px;
    border: 1px solid var(--primária-2e8e61);
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 1;
}
.bxLeitura{
    height: auto;
    padding: 20px;

    text-align: left;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 1px solid #BBBBBB61;
    border-radius: 4px;
    opacity: 1;
}
.bxLTexto{
    width: 100%;
    height: 250px;
    overflow: auto;
    overflow-y: scroll;

    text-align: justify;
}
.bxLTexto::-webkit-scrollbar{
    width: 10px;
}
.bxLTexto::-webkit-scrollbar-track{
    box-shadow: transparent;
}
.bxLTexto::-webkit-scrollbar-thumb{
    background: transparent;
}